{% extends 'emails/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5 p-5">
    <div class="tab-pane" id="security">
        <h6>Password Reset</h6>
        <hr>
        <p>You're receiving this email because you requested a password reset for your user account at</p>
        <p>Please go to the following page and choose a new password:</p>
        <a href="http://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}"><input class="btn btn-danger mt-2" type="submit" value="Change Password"></a>
        <p>Thanks for using our site!</p>
    </div>
</div>
{% endblock %}