{% extends 'base.html' %}
{% load static %}
{% block title %}Pinterest | Home{% endblock %}
{% block content %}
<section class="mt-4 mb-5">
	<div class="container mb-4">
		<h1 class="font-weight-bold title">Explore</h1>
		<div class="row">
			<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
				<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsExplore">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Lifestyle</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Food</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Travel</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
							<div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="#">Astronomy</a>
								<a class="dropdown-item" href="#">Nature</a>
								<a class="dropdown-item" href="#">Cooking</a>
								<a class="dropdown-item" href="#">Fashion</a>
								<a class="dropdown-item" href="#">Wellness</a>
								<a class="dropdown-item" href="#">Dieting</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="card-columns">
				{% for pin in pins_objs %}
				<a href="{% url 'pins:detail_pin' pin.id %}" style="color: white;">
					<div class="card card-pin">
					<img class="card-img"
						src="{{ pin.pin_file.url }}"
						alt="Card image">
						<div class="card-title centered">{{ pin.title }}</div>
						{% if user.is_authenticated %}
						<div class="bottom-right"><a href="#" style="color: white;"><i class="fa fa-bookmark" style="font-size:24px"></i></a></div>
						{% endif %}
						<div class="bottom-left">
							{% if pin.user.user_profile.profile_picture %}
							<a href="{% url 'users:user_profile' pin.user.id %}" style="color: white;"><img class="rounded-circle mr-2"
						src="{{ pin.user.user_profile.profile_picture.url }}" width="40" height="40"><span class="align-middle">{{pin.user.username}}</span></a>
							{% else %}
							<a href="{% url 'users:user_profile' pin.user.id %}" style="color: white;"><img class="rounded-circle mr-2"
						src="{% static 'img/av.png' %}" width="40" height="40"><span class="align-middle">{{pin.user.username}}</span></a>
							{% endif %}
						</div>
					</div>
				</a>
			{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}