{% extends 'base.html' %}
{% load static %}
{% block title %}Pinterest | Update Profile{% endblock %}
{% block content %}
<div class="container mt-5 mb-5 p-5">
    <div class="tab-pane active" id="profile">
        <h6>YOUR PROFILE INFORMATION</h6>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
                {{ profile_form.as_p }}
            </div>
            <input type="submit" value="Update" class="btn btn-primary form-control">
        </form>
    </div>
</div>
{% endblock %}