{% extends 'base.html' %}
{% load static %}
{% block title %}Pinterest | Update Profile{% endblock %}
{% block content %}
<div class="container mt-5 mb-5 p-5">
    <div class="tab-pane active" id="profile">
        <h6>LOGIN</h6>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login" class="btn btn-primary">
            <br><br>
            <a href="{% url 'users:password_reset' %}">Forgot Password ?</a>
        </form>
    </div>
</div>
{% endblock %}