{% extends 'base.html' %}
{% load static %}
{% block title %}Pinterest | Reset Password{% endblock %}
{% block content %}
<div class="container mt-5 mb-5 p-5">
    <div class="tab-pane active" id="profile">
        <h6>Reset Password</h6>
        <hr>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <input type="submit" value="Send Mail" class="btn btn-primary form-control">
        </form>
    </div>
</div>
{% endblock %}