{% extends 'base.html' %}
{% load static %}
{% block title %}Pinterest | Reset Password{% endblock %}
{% block content %}<div class="container mt-5 mb-5 p-5">
    <div class="tab-pane active" id="profile">
        <h6>Password Reset Confirm</h6>
        <hr>
        {% if validlink %}
        <p>Please enter your new password.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <input type="submit" value="Reset Password" class="btn btn-primary form-control">
        </form>
        {% else %}
        <p>This link is Invalid</p>
        {% endif %}
    </div>
</div>
{% endblock %}