{% extends 'base.html' %}
{% load static %}
{% block title %}Pinterest | User Profile{% endblock %}
{% block content %}
<div class="jumbotron border-round-0 min-50vh" {% if user_obj.user_profile.cover_picture %}
	style="background-image:url({{ user_obj.user_profile.cover_picture.url }});">
	{% else %}
	style="background-image:url(https://images.unsplash.com/photo-1522204657746-fccce0824cfd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=84b5e9bea51f72c63862a0544f76e0a3&auto=format&fit=crop&w=1500&q=80);">
	{% endif %}
</div>

<div class="container mb-4">
	{% if user_obj.user_profile.profile_picture %}
	<img src="{{ user_obj.user_profile.profile_picture.url }}" class="mt-neg100 mb-4 rounded-circle" width="128"
		height="128">
	{% else %}
	<img src="{% static 'img/av.png' %}" class="mt-neg100 mb-4 rounded-circle" width="128" height="128">
	{% endif %}
	<h1 class="font-weight-bold title">{{ user_obj.full_name }}</h1>
	<h5 class="mb-3">@{{ user_obj.username }}</h5>
	<div class="row">
		{% if user_obj.total_following %}
		<a href="{% url 'users:followers_followings' username=user_obj.username  input_field='followings' %}">
			<p class="ml-3 mr-3 font-weight-bold">Following {{ user_obj.total_following }}</p>
		</a>
		{% else %}
		<p class="ml-3 mr-3 font-weight-bold">Following {{ user_obj.total_following }}</p>
		{% endif %}

		{% if user_obj.total_followers %}
		<a href="{% url 'users:followers_followings' username=user_obj.username  input_field='followers' %}">
			<p class="ml-3 mr-3 font-weight-bold">Followers {{ user_obj.total_followers }}</p>
		</a>
		{% else %}
		<p class="ml-3 mr-3 font-weight-bold">Followers {{ user_obj.total_followers }}</p>
		{% endif %}

		{% if user_obj.username == user.username %}
		{% if user_obj.total_pins %}
		<a href="{% url 'users:user_pins' username=user_obj.username %}">
			<p class="ml-3 mr-3 font-weight-bold">Pins {{ user_obj.total_pins }}</p>
		</a>
		{% else %}
		<p class="ml-3 mr-3 font-weight-bold">Pins {{ user_obj.total_pins }}</p>
		{% endif %}
		{% else %}
		{% if user_obj.total_public_pins %}
		<a href="{% url 'users:user_pins' username=user_obj.username %}">
			<p class="ml-3 mr-3 font-weight-bold">Pins {{ user_obj.total_public_pins }}</p>
		</a>
		{% else %}
		<p class="ml-3 mr-3 font-weight-bold">Pins {{ user_obj.total_public_pins }}</p>
		{% endif %}
		{% endif %}
	</div>
	{% if user.id != user_obj.id %}
	{% if user in user_obj.followers.all %}
	<a href="{% url 'users:follow_unfollow' user_obj.id %}"><button class="btn btn-primary mr-2">Unfollow</button></a>
	{% else %}
	<a href="{% url 'users:follow_unfollow' user_obj.id %}"><button class="btn btn-primary mr-2">Follow</button></a>
	{% endif %}
	<a href="#"><button class="btn btn-primary">Chat</button></a>
	{% endif %}
	<p class="mt-3">{{ user_obj.user_profile.about }}</p>
	<div class="text-center m-5">
		<button type="button" class="btn btn-default mr-3" data-toggle="collapse" data- target="#demo1"
			id="btn1">Created</button>
		<button type="button" class="btn btn-default mr-3" data-toggle="collapse" data- target="#demo2"
			id="btn2">Saved</button>
		<button type="button" class="btn btn-default" data-toggle="collapse" data- target="#demo3"
			id="btn3">Boards</button>
	</div>
</div>
<div id="demo1" class="collapse">
	<div class="container-fluid mb-5">
		<h3 class="text-center mb-5">Created Pins</h3>
		{% if not created_pins %}
		<h5 class="font-weight-bold title mb-5 text-center">Uploaded Pin List Is Empty...!</h5>
		{% endif %}
		<div class="row">
			<div class="card-columns">
				{% for pin in created_pins %}
				<a href="{% url 'pins:detail_pin' pin.id %}" style="color: white;">
					<div class="card card-pin">
						<img class="card-img" src="{{ pin.pin_file.url }}" alt="Card image">
						<div class="card-title centered">{{ pin.title }}</div>
						{% if pin.is_saved %}
						<div class="bottom-right"><a href="{% url 'pins:save_unsave_pin' pin.id %}"
								style="color: white;"><i class="fa fa-bookmark" style="font-size:24px"></i></a></div>
						{% else %}
						<div class="bottom-right"><a href="{% url 'pins:save_unsave_pin' pin.id %}"
								style="color: white;"><i class="fa fa-bookmark-o" style="font-size:24px"></i></a></div>
						{% endif %}
						<div class="bottom-left">
							{% if pin.user.user_profile.profile_picture %}
							<a href="{% url 'users:user_profile' pin.user.id %}" style="color: white;"><img
									class="rounded-circle mr-2" src="{{ pin.user.user_profile.profile_picture.url }}"
									width="40" height="40"><span class="align-middle">{{pin.user.username}}</span></a>
							{% else %}
							<a href="{% url 'users:user_profile' pin.user.id %}" style="color: white;"><img
									class="rounded-circle mr-2" src="{% static 'img/av.png' %}" width="40"
									height="40"><span class="align-middle">{{pin.user.username}}</span></a>
							{% endif %}
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div id="demo2" class="collapse">
	<div class="container-fluid mb-5">
		<h3 class="text-center mb-5">Saved Pins</h3>
		{% if not saved_pins %}
		<h5 class="font-weight-bold title mb-5 text-center">Saved Pin List Is Empty...!</h5>
		{% endif %}
		<div class="row">
			<div class="card-columns">
				{% for saved in saved_pins %}
				<a href="{% url 'pins:detail_pin' saved.pin.id %}" style="color: white;">
					<div class="card card-pin">
						<img class="card-img" src="{{ saved.pin.pin_file.url }}" alt="Card image">
						<div class="card-title centered">{{ saved.pin.title }}</div>
						{% if saved.is_saved %}
						<div class="bottom-right"><a href="{% url 'pins:save_unsave_pin' saved.pin.id %}"
								style="color: white;"><i class="fa fa-bookmark" style="font-size:24px"></i></a></div>
						{% else %}
						<div class="bottom-right"><a href="{% url 'pins:save_unsave_pin' saved.pin.id %}"
								style="color: white;"><i class="fa fa-bookmark-o" style="font-size:24px"></i></a></div>
						{% endif %}
						<div class="top-right">
							<div class="show"><i class="fa fa-star" style="font-size:24px; color: white;"></i>
								<ul class="list-categories shadow-lg">
									<li>Add To Board</li>
									{% for board in user_boards %}
								  	<li><a href="{% url 'pins:pin_add_to_board' board_id=board.id pin_id=saved.pin.id %}" style="text-decoration:none;">{{ board.name }}</a></li>
									{% endfor %}
									<form method="post" class="mt-2" action="{% url 'users:user_profile' user.id %}">
										{% csrf_token %}
										<input class="form-control" name="name" type="text" required=True placeholder="Create Board....">
									</form>
								</ul>
							</div>
						</div>
						<div class="bottom-left">
							{% if saved.pin.user.user_profile.profile_picture %}
							<a href="{% url 'users:user_profile' saved.pin.user.id %}" style="color: white;"><img
									class="rounded-circle mr-2"
									src="{{ saved.pin.user.user_profile.profile_picture.url }}" width="40"
									height="40"><span class="align-middle">{{saved.pin.user.username}}</span></a>
							{% else %}
							<a href="{% url 'users:user_profile' saved.pin.user.id %}" style="color: white;"><img
									class="rounded-circle mr-2" src="{% static 'img/av.png' %}" width="40"
									height="40"><span class="align-middle">{{saved.pin.user.username}}</span></a>
							{% endif %}
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div id="demo3" class="collapse">
	<div class="container-fluid mb-5">
		<h3 class="text-center mb-5">Boards</h3>
		{% if user.id == user_obj.id %}
		<div class="container mt-5 mb-5 p-5">
			<div class="d-flex justify-content-center">
				<div class="input-group w-auto">
					<form class="form-inline" method="post" action="{% url 'users:user_profile' user.id %}">
						{% csrf_token %}
						<input type="text" placeholder="Enter Board Name..." class="form-control mr-2" name="name" required>
						<input type="checkbox" name="is_private" id="is_private" class="form-control mr-2"><label for="is_private"> Make Private</label>
						<input type="submit" value="Create Board" class="form-control btn btn-primary ml-2">
					</form>
				</div>
			</div>
		</div>
		{% endif %}
		{% if not boards %}
		<h5 class="font-weight-bold title mb-5 text-center">No Any Boards Found...!</h5>
		{% endif %}
		<div class="container-fluid">
			<div class="row">
				<div class="card-columns">
					{% for board in boards %}
					<div class="card" style="width: 300px;">
						{% if board.pin.first.pin_file.url %}
						<img class="card-img-top" src="{{ board.pin.first.pin_file.url }}" alt="Card image cap"
							height="300px">
						{% else %}
						<img class="card-img-top" src="http://placehold.it/300x300" alt="Card image cap" height="300px">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{ board.name }}</h5><p>{% if board.is_private %}Private{% else %}Public{% endif %} Board</p>
							<div id="outer">
								<div class="inner">
									  <a href="{% url 'users:board_pins' username=board.user.username board_name=board.name %}"
									class="btn btn-primary">Pins</a>
								</div>
								{% if user.id == user_obj.id %}
								<div class="inner">
									{% if board.is_private %}
								  		<a href="{% url 'pins:public_private_board' board.id %}" class="btn btn-primary">Public</a>
									{% else %}
								  		<a href="{% url 'pins:public_private_board' board.id %}" class="btn btn-primary">Private</a>
									{% endif %}
							  	</div>
							  	<div class="inner">
								  <a href="{% url 'pins:delete_board' board.id %}" class="btn btn-primary"><i class="fa fa-trash-o"></i></a>
							  	</div>
								{% endif %}
							</div>

						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}