{% extends 'base.html' %}
{% load static %}
{% block title %}Pinterest | Home{% endblock %}
{% block content %}
<section class="mt-4 mb-5">
	<div class="container mb-4">
		<h1 class="font-weight-bold title">Pins</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="card-columns">
				{% for pin in pins %}
				<a href="{% url 'pins:detail_pin' pin.id %}" style="color: white;">
					<div class="card card-pin">
					<img class="card-img"
						src="{{ pin.pin_file.url }}"
						alt="Card image">
						<div class="card-title centered">{{ pin.title }}</div>
						<div class="bottom-right"><a href="#" style="color: white;"><i class="fa fa-bookmark" style="font-size:24px"></i></a></div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}